{% extends 'base.html' %}

{% block head %}
<style type="text/css">
body, input {
	font-family: sans-serif;
	font-size: 9pt;
}

input {
	padding: 4px;
}

.directions {

}

.error {
	margin: 0 0 2em 0;
	color: #7F0000;
	font-weight: bold;
}
</style>
<script type="text/javascript">
window.addEventListener("load", function() {
	document.getElementById("password").focus();
});
</script>
{% end %}

{% block content %}
<h1>Protmušis</h1>
<form action="/login" method="post">
{% if handler.get_argument('wrong_pin', None) %}<div class="error">Neteisingas kodas!</div>{% end %}
<p><select name="team_id">{% for team in handler.get_available_teams() %}<option value="{{ team.id }}">Komanda {{ team.id }}</option>{% end %}</select></p>
<p><input type="password" name="pin" /> <input type="submit" name="submit" value="Pradėti!" /></p>
</form>
<p><a href="/freeview">Tik noriu matyti klausimus</a></p>
{% end %}
