<html>
<head>
	<title>Valdymo skydas</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('dashboard.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/smoothness/jquery-ui-1.8.21.custom.css') }}" />
  <script type="text/javascript" src="{{ static_url('js/jquery-1.7.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/jquery-ui-1.8.21.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('dashboard.js') }}"></script>
</head>
<body>
	<div id="container">
		<ul>
      <li><a href="#status">Būsena</a></li>
      <li><a href="#teams">Komandos</a></li>
      <li><a href="#questions">Klausimai</a></li>
      <li><a href="#results">Rezultatai</a></li>
    </ul>

    <div id="status">

    </div>
    <div id="teams">

    </div>
    <div id="questions">

    </div>
    <div id="results">

    </div>
	</div>
</body>
</html>
